/* .btn {
background-color: #333;
padding-left: 800px;
padding-bottom: 20px;
padding-top: 20px;
} */

body {
    background-color: #f7f7f9;
}

.container {
    max-width: 1540px;
}

.card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 0;
    margin-left: 0;
}

.name {
    margin-left: 180px;
}

.centerImageHeader {
    justify-content: center;
    font-family: 'Lato', sans-serif !important;
    display: grid;
}

#inicio {
    background-image: url('./img/cropped-326781-P9JGF9-692-1.jpg');
    height: 550px;
}

nav {
    background-color: #085f63 !important;
}

#logo {
    width: 90px;
    height: 70px;
    text-align: center;
}

body {
    text-align: center;
    background-attachment: fixed;
}

#yo {
    display: none;
}

a :hover {
    cursor: pointer;
}

.mi {
    margin-top: 20px;
    color: #085f63 !important;
}